@using Entities.Concrete
@model List<Book>


<div class="tab-pane fade" id="best">
    <div class="category-product-index owl-carousel owl-theme">

        @foreach (var item in Model)
        {
            <div class="item text-center">
                <div class="product-miniature js-product-miniature item-one first-item">
                    <div class="thumbnail-container">
                        <a href="product-detail.html">
                            <img class="img-fluid image-cover" src="@item.BookImage" alt="img">
                            <img class="img-fluid image-secondary" src="@item.BookImage" alt="img">
                        </a>
                        @*<div class="product-flags discount">-30%</div>*@
                        <div class="highlighted-informations">
                            <div class="variant-links" style=" background: black; padding: 5px; border-radius: 7px; color: white;">
                                @item.PublisherName
                                @*<a href="#" class="color beige" title="Beige"></a>*@
                                @*<a href="#" class="color orange" title="Orange"></a>
                                    <a href="#" class="color green" title="Green"></a>*@
                            </div>
                        </div>
                    </div>
                    <div class="product-description">
                        <div class="product-groups">
                            <div class="product-title">
                                <a href="product-detail.html">@item.BookName</a>
                            </div>
                            <div class="rating">
                                <div class="star-content" style="background: black; padding: 2px; color: white; border-radius: 4px; font-size: revert;">
                                    @item.CategoryName
                                    @*<div class="star"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>
                                        <div class="star"></div>*@
                                </div>
                            </div>
                            <div class="product-group-price">
                                <div class="product-price-and-shipping">
                                    <span class="price" style="font-size: 20px; color: red; background: #ffe6e6; border-radius: 5px; border: 1px solid;">@item.BookPrice TL</span>
                                    @*<del class="regular-price">£28.68</del>*@
                                </div>
                            </div>
                        </div>
                        <div class="product-buttons d-flex justify-content-center">
                            <form action="#" method="post" class="formAddToCart">
                                <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </a>
                            </form>
                            <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </a>
                            <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>