@using Business.Concrete;
@using DataAccess.Concrete.EntityFramework;
@using PagedList.Mvc;
@using PagedList;
@using Entities.Concrete;
@model IPagedList<Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var categoryManager = new CategoryManager(new EfCategoryDal());
    var categories = categoryManager.GetAll();

    var authorManager = new AuthorManager(new EfAuthorDal());
    var authors = authorManager.GetAll();

    var bookTranslatorManager = new BookTranslatorManager(new EfBookTranslatorDal());
    var bookTranslators = bookTranslatorManager.GetAll();

    var bookManager = new BookManager(new EfBookDal());
    var books = bookManager.GetAll();

    var publisherManager = new PublisherManager(new EfPublisherDal());
    var publishers = publisherManager.GetAll();


}

<div class="main-content">
    <div class="wrap-banner">
        <!-- menu category -->
        <div class="container position">
            <div class="section menu-banner d-xs-none">
                <div class="tiva-verticalmenu block">
                    <div class="box-content">
                        <div class="verticalmenu" role="navigation">
                            <ul class="menu level1">
                                <li class="item parent">
                                    <a href="#" class="hasicon" title="SIDE TABLE">
                                        <img src="https://www.freeiconspng.com/thumbs/bookmark-icon/book-bookmark-icon-5.png" alt="img">Kategoriler
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="menu-items">
                                            <ul>
                                                @foreach (var category in categories)
                                                {
                                                    <li class="item">
                                                        <a href="@Url.Action("GetBooksByCategory", "Book", new { id = category.ID })" title="@category.CategoryName">@category.CategoryName</a>
                                                    </li>
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="item parent group">
                                    <a href="#" class="hasicon" title="FI">
                                        <img src="https://e7.pngegg.com/pngimages/130/282/png-clipart-quill-inkwell-writer-ink-monochrome-thumbnail.png" alt="img">Yazarlar &amp; Çevirmenler
                                    </a>
                                    <div class="dropdown-menu menu-2">
                                        <div class="menu-items">
                                            <div class="item">
                                                <div class="menu-content">
                                                    <div class="tags">
                                                        <div class="title float-left">
                                                            <b>Yazarlar</b>
                                                        </div>
                                                        <ul class="list-inline">
                                                            @foreach (var item in authors)
                                                            {
                                                                <li class="list-inline-item">
                                                                    <a href="@Url.Action("Index", "Book", new { authorId = item.ID })">@item.AuthorFullName</a>
                                                                </li>
                                                            }

                                                            <li class="list-inline-item">
                                                                <a href="#">Toshiba</a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                    <div class="tags">
                                                        <div class="title float-left">
                                                            <b>Çevirmenler</b>
                                                        </div>
                                                        <ul class="list-inline">

                                                            @foreach (var item in bookTranslators)
                                                            {
                                                                <li class="list-inline-item">
                                                                    <a href="@Url.Action("Index", "Book", new { bookTranslatorId = item.ID })">@item.TranslatorFullName</a>
                                                                </li>
                                                            }

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item group-category-img parent group">
                                    <a href="#" class="hasicon" title="TABLE LAMP">
                                        <img src="https://e7.pngegg.com/pngimages/630/467/png-clipart-computer-icons-book-publishing-book-angle-rectangle.png" alt="img"> Yayın Evleri
                                    </a>
                                    <div class="dropdown-menu menu-3">
                                        <div class="menu-items">
                                            <div class="item">
                                                <div class="menu-content">
                                                    <div class="group-category row">
                                                        <div class="mt-20">
                                                            <div class="d-flex">
                                                                <div class="col">
                                                                    <ul>
                                                                        @foreach (var item in publishers)
                                                                        {
                                                                            <li>
                                                                                <a href="@Url.Action("Index", "Book", new { publisherId = item.ID })">@item.PublisherName</a>
                                                                            </li>
                                                                        }
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="ml-15">
                                                            <a>
                                                                <img class="img-fluid" src="https://graphic-designer-richmond.co.uk/wp-content/uploads/2021/03/colourful_books_cropped.png" alt="img">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slide show -->
        <div class="section banner">
            <div class="tiva-slideshow-wrapper">
                <div id="tiva-slideshow" class="nivoSlider">
                    <a href="#">
                        <img class="img-responsive" src="~/Content/img/custom/banner1.jpg" title="#caption1" alt="Slideshow image">
                    </a>
                    <a href="#">
                        <img class="img-responsive" src="~/Content/img/custom/banner2.jpg" title="#caption2" alt="Slideshow image">
                    </a>
                    <a href="#">
                        <img class="img-responsive" src="~/Content/img/custom/banner3.jpg" title="#caption3" alt="Slideshow image">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- main -->
    <div id="wrapper-site">
        <div id="content-wrapper" class="full-width">
            <div id="main">
                <section class="page-home">
                    <div class="container">

                        <!-- delivery form -->
                        <div class="section policy-home col-lg-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="block">
                                        <div class="block-content">
                                            <div class="policy-item">
                                                <div class="policy-content iconpolicy1">
                                                    <img src="~/Content/img/home/home1-policy.png" alt="img">
                                                    <div class="policy-name mb-5">250 TL VE ÜZERİ ÜCRETSİZ TESLİMAT</div>
                                                    <div class="policy-des">
                                                        Yapacağın 250 TL ve üzeri tüm alışverişlerde kargo bedava!
                                                        Hadi, ihtiyacın olan ürünler, süper fırsatlarla kapına gelsin.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tiva-html col-lg-4 col-md-4">
                                    <div class="block">
                                        <div class="block-content">
                                            <div class="policy-item">
                                                <div class="policy-content iconpolicy2">
                                                    <img src="~/Content/img/home/home1-policy2.png" alt="img">
                                                    <div class="policy-name mb-5">TEK TIKLA GÜVENLİ ALIŞVERİŞ</div>
                                                    <div class="policy-des">Müşterilerimizin kritik verileri, güçlü altyapımız ve uluslararası ödeme sistemleri (PCI-DSS) veri güvenliği standartları ile korunmaktadır.</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tiva-html col-lg-4 col-md-4">
                                    <div class="block">
                                        <div class="block-content">
                                            <div class="policy-item">
                                                <div class="policy-content iconpolicy3">
                                                    <img src="~/Content/img/home/home1-policy3.png" alt="img">
                                                    <div class="policy-name mb-5">PARA İADE GARANTİSİ</div>
                                                    <div class="policy-des">
                                                        MAS-Kitap’dan satın aldığınız ürünleri teslim aldığınız
                                                        tarihten itibaren 14 gün içerisinde ücretsiz ve kolayca iade edebilirsiniz.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <!-- product living room -->
                    <div class="section living-room">
                        <div class="container">
                            <div class="tiva-row-wrap row">
                                <div class="groupcategoriestab-vertical col-md-12 col-xs-12">
                                    <div class="grouptab row">
                                        <div class="categoriestab-right col-lg-3 align-items-start d-flex flex-column col-md-3 flex-3">
                                            <div class="block-title-content">
                                                <h2 class="title-block">
                                                    Kategoriler
                                                </h2>
                                            </div>
                                            <!-- <div class="btn dropdown-toggle toggle-cate-child-vertical hidden-md-up mr-auto">Select category</div> -->
                                            <div class="cate-child-vertical">
                                                <ul class="d-flex align-items-start flex-column">

                                                    @foreach (var item in categories.Take(11))
                                                    {
                                                        <li>
                                                            <a href="/Anasayfa/KategoriEnIyiSatis?id=@item.ID">@item.CategoryName</a>
                                                        </li>
                                                    }

                                                    <li class="last float-right">
                                                        <a href="product-grid-sidebar-left.html">View all</a>
                                                    </li>


                                                </ul>
                                            </div>
                                        </div>
                                        <div class="categoriestab-left product-tab col-md-9 flex-9">
                                            <div class="title-tab-content d-flex justify-content-start">
                                                <ul class="nav nav-tabs">
                                                    <li>
                                                        <a href="#new" data-toggle="tab" class="active">New Arrivals</a>
                                                    </li>
                                                    <li>
                                                        <a href="#best" data-toggle="tab">Best Sellers</a>
                                                    </li>
                                                    <li>
                                                        <a href="#sale" data-toggle="tab">Special Products</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab-content">
                                                <div id="new" class="tab-pane fade in active show">
                                                    <div class="category-product-index owl-carousel owl-theme owl-loaded owl-drag">
                                                        @foreach (var item in Model.Take(8))
                                                        {
                                                            <div class="item text-center">
                                                                <div class="product-miniature first-item js-product-miniature item-one">
                                                                    <div class="thumbnail-container">
                                                                        <a href="product-detail.html">
                                                                            <img class="img-fluid image-cover" src="@item.BookImage" alt="img">
                                                                            <img class="img-fluid image-secondary" src="@item.BookImage" alt="img">
                                                                        </a>
                                                                        @*<div class="product-flags discount">-30%</div>*@
                                                                        <div class="highlighted-informations">
                                                                            <div class="variant-links" style=" background: black; padding: 5px; border-radius: 7px; color: white;">
                                                                                @item.PublisherName
                                                                                @*<a href="#" class="color beige" title="Beige"></a>*@
                                                                                @*<a href="#" class="color orange" title="Orange"></a>
                                                                                    <a href="#" class="color green" title="Green"></a>*@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-description">
                                                                        <div class="product-groups">
                                                                            <div class="product-title">
                                                                                <a href="product-detail.html">@item.BookName</a>
                                                                            </div>
                                                                            <div class="rating">
                                                                                <div class="star-content" style="background: black; padding: 2px; color: white; border-radius: 4px; font-size: revert;">
                                                                                    @item.CategoryName
                                                                                    @*<div class="star"></div>
                                                                                        <div class="star"></div>
                                                                                        <div class="star"></div>
                                                                                        <div class="star"></div>
                                                                                        <div class="star"></div>*@
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-group-price">
                                                                                <div class="product-price-and-shipping">
                                                                                    <span class="price" style="font-size: 20px; color: red; background: #ffe6e6; border-radius: 5px; border: 1px solid;">@item.BookPrice TL</span>
                                                                                    @*<del class="regular-price">£28.68</del>*@
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-buttons d-flex justify-content-center">
                                                                            <form action="#" method="post" class="formAddToCart">
                                                                                <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                </a>
                                                                            </form>
                                                                            <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                                <i class="fa fa-heart" aria-hidden="true"></i>
                                                                            </a>
                                                                            <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                                @*@Html.Action("BookCategoryBestSalePartialView","Home")*@

                                                <div class="tab-pane fade" id="sale">
                                                    <div class="category-product-index owl-carousel owl-theme">
                                                        <div class="item text-center">
                                                            <div class="product-miniature js-product-miniature item-one first-item">
                                                                <div class="thumbnail-container">
                                                                    <a href="product-detail.html">
                                                                        <img class="img-fluid image-cover" src="~/Content/img/product/7.jpg" alt="img">
                                                                        <img class="img-fluid image-secondary" src="~/Content/img/product/14.jpg" alt="img">
                                                                    </a>
                                                                    <div class="product-flags discount">-30%</div>
                                                                    <div class="highlighted-informations">
                                                                        <div class="variant-links">
                                                                            <a href="#" class="color beige" title="Beige"></a>
                                                                            <a href="#" class="color orange" title="Orange"></a>
                                                                            <a href="#" class="color green" title="Green"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-description">
                                                                    <div class="product-groups">
                                                                        <div class="product-title">
                                                                            <a href="product-detail.html">Nulla et justo non augue</a>
                                                                        </div>
                                                                        <div class="rating">
                                                                            <div class="star-content">
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-group-price">
                                                                            <div class="product-price-and-shipping">
                                                                                <span class="price">£20.08</span>
                                                                                <del class="regular-price">£28.68</del>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-buttons d-flex justify-content-center">
                                                                        <form action="#" method="post" class="formAddToCart">
                                                                            <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                            </a>
                                                                        </form>
                                                                        <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                                        </a>
                                                                        <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item text-center">
                                                            <div class="product-miniature js-product-miniature item-one first-item">
                                                                <div class="thumbnail-container">
                                                                    <a href="product-detail.html">
                                                                        <img class="img-fluid image-cover" src="~/Content/img/product/8.jpg" alt="img">
                                                                        <img class="img-fluid image-secondary" src="~/Content/img/product/15.jpg" alt="img">
                                                                    </a>
                                                                    <div class="product-flags discount">-20%</div>
                                                                    <div class="highlighted-informations">
                                                                        <div class="variant-links">
                                                                            <a href="#" class="color beige" title="Beige"></a>
                                                                            <a href="#" class="color orange" title="Orange"></a>
                                                                            <a href="#" class="color green" title="Green"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-description">
                                                                    <div class="product-groups">
                                                                        <div class="product-title">
                                                                            <a href="product-detail.html">Nulla et justo non augue</a>
                                                                        </div>
                                                                        <div class="rating">
                                                                            <div class="star-content">
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-group-price">
                                                                            <div class="product-price-and-shipping">
                                                                                <span class="price">£20.08</span>
                                                                                <del class="regular-price">£28.68</del>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-buttons d-flex justify-content-center">
                                                                        <form action="#" method="post" class="formAddToCart">
                                                                            <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                            </a>
                                                                        </form>
                                                                        <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                                        </a>
                                                                        <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item text-center">
                                                            <div class="product-miniature js-product-miniature item-one first-item">
                                                                <div class="thumbnail-container">
                                                                    <a href="product-detail.html">
                                                                        <img class="img-fluid image-cover" src="~/Content/img/product/9.jpg" alt="img">
                                                                        <img class="img-fluid image-secondary" src="~/Content/img/product/16.jpg" alt="img">
                                                                    </a>
                                                                    <div class="product-flags discount">-20%</div>
                                                                    <div class="highlighted-informations">
                                                                        <div class="variant-links">
                                                                            <a href="#" class="color beige" title="Beige"></a>
                                                                            <a href="#" class="color orange" title="Orange"></a>
                                                                            <a href="#" class="color green" title="Green"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-description">
                                                                    <div class="product-groups">
                                                                        <div class="product-title">
                                                                            <a href="product-detail.html">Nulla et justo non augue</a>
                                                                        </div>
                                                                        <div class="rating">
                                                                            <div class="star-content">
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-group-price">
                                                                            <div class="product-price-and-shipping">
                                                                                <span class="price">£20.08</span>
                                                                                <del class="regular-price">£28.68</del>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-buttons d-flex justify-content-center">
                                                                        <form action="#" method="post" class="formAddToCart">
                                                                            <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                            </a>
                                                                        </form>
                                                                        <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                                        </a>
                                                                        <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <!-- banner -->
                        <div class="section spacing-10 group-image-special col-lg-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="effect">
                                        <a href="#">
                                            <img class="" src="https://wp.oggusto.com/wp-content/uploads/2022/10/ayin-kitap-onerileri.webp" alt="banner-1" title="banner-1" width="540" height="222">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="effect">
                                        <a href="#">
                                            <img class="" src="https://cdn1.ntv.com.tr/gorsel/CDmFqIMgJkOtqCz5JZUC7Q.jpg?width=1000&mode=crop&scale=both" alt="banner-2" title="banner-2" width="540" height="222">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="section testimonial-block col-lg-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="block">
                                        <div class="owl-carousel owl-theme testimonial-type-one">

                                            <div class="item type-one d-flex align-items-center flex-column">
                                                <div class="textimonial-image">
                                                    <i class="icon-testimonial"></i>
                                                </div>
                                                <div class="desc-testimonial">
                                                    <div class="testimonial-content">
                                                        <div class="text">
                                                            <p id="randomText">

                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="testimonial-info">
                                                        <h5 class="mt-0 box-info" id="randomAuthor"> </h5>
                                                        @*<p class="box-dress">DESIGNER</p>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- best seller -->
                        <div class="section best-sellers col-lg-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 col-xs-12">
                                    <div class="groupproductlist">
                                        <div class="row d-flex align-items-center">
                                            <!-- column 4 -->
                                            <div class="flex-4 col-lg-4 flex-4">
                                                <h2 class="title-block">
                                                    <span class="sub-title">En çok satılan kitaplar</span>En çok satanlar
                                                </h2>
                                                <div class="content-text">
                                                    <p>
                                                        Dünya çapında en çok satan kitaplar listesi, dünya çapında ve tüm zamanlarda en fazla satış yapan kitapları listeler.
                                                    </p>
                                                    <div>
                                                        <a href="product-grid-sidebar-left.html"> Tüm kitapları görüntüle </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- column 8 -->


                                            <div class="block-content col-lg-8 flex-8">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade in active show">
                                                        <div class="category-product-index owl-carousel owl-theme owl-loaded owl-drag">
                                                            <div class="item text-center">
                                                                @foreach (var item in Model.OrderByDescending(x => x.BookSale).Take(1))
                                                                {
                                                                    <div class="product-miniature js-product-miniature item-one first-item">
                                                                        <div class="thumbnail-container">
                                                                            <a href="product-detail.html">
                                                                                <img class="img-fluid image-cover" src="@item.BookImage" alt="img">
                                                                                <img class="img-fluid image-secondary" src="@item.BookImage" alt="img">
                                                                            </a>
                                                                            <div class="highlighted-informations">
                                                                                <div class="variant-links" style=" background: black; padding: 5px; border-radius: 7px; color: white;">
                                                                                    @item.CategoryName
                                                                                    @*<a href="#" class="color beige" title="Beige"></a>
                                                                                        <a href="#" class="color orange" title="Orange"></a>
                                                                                        <a href="#" class="color green" title="Green"></a>*@
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-description">
                                                                            <div class="product-groups">
                                                                                <div class="product-title">
                                                                                    <a href="product-detail.html">@item.BookName</a>
                                                                                </div>
                                                                                <div class="product-group-price">
                                                                                    <div class="product-price-and-shipping">
                                                                                        <span class="price" style="font-size: 15px; color: red; background: #ffe6e6; border-radius: 5px; border: 1px solid; ">@item.BookPrice TL</span>
                                                                                        @*<del class="regular-price">£28.68</del>*@
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-buttons d-flex justify-content-center">
                                                                                <form action="#" method="post" class="formAddToCart">
                                                                                    <input type="hidden" name="id_product" value="1">
                                                                                    <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                    </a>
                                                                                </form>
                                                                                <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                                                </a>
                                                                                <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }

                                                                @foreach (var item in Model.OrderByDescending(x => x.BookSale).Skip(1).Take(1))
                                                                {

                                                                    <div class="product-miniature js-product-miniature item-one first-item">
                                                                        <div class="thumbnail-container">
                                                                            <a href="product-detail.html">
                                                                                <img class="img-fluid image-cover" src="@item.BookImage" alt="img">
                                                                                <img class="img-fluid image-secondary" src="@item.BookImage" alt="img">
                                                                            </a>
                                                                            <div class="highlighted-informations">
                                                                                <div class="variant-links" style=" background: black; padding: 5px; border-radius: 7px; color: white;">
                                                                                    @item.CategoryName
                                                                                    @*<a href="#" class="color beige" title="Beige"></a>
                                                                                        <a href="#" class="color orange" title="Orange"></a>
                                                                                        <a href="#" class="color green" title="Green"></a>*@
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-description">
                                                                            <div class="product-groups">
                                                                                <div class="product-title">
                                                                                    <a href="product-detail.html">@item.BookName</a>
                                                                                </div>
                                                                                <div class="product-group-price">
                                                                                    <div class="product-price-and-shipping">
                                                                                        <span class="price" style="font-size: 15px; color: red; background: #ffe6e6; border-radius: 5px; border: 1px solid; ">@item.BookPrice TL</span>
                                                                                        @*<del class="regular-price">£28.68</del>*@
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-buttons d-flex justify-content-center">
                                                                                <form action="#" method="post" class="formAddToCart">

                                                                                    <input type="hidden" name="id_product" value="1">
                                                                                    <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                    </a>
                                                                                </form>
                                                                                <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                                                </a>
                                                                                <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }

                                                            </div>

                                                            <div class="item text-center">

                                                                @foreach (var item in Model.OrderByDescending(x => x.BookSale).Skip(2).Take(1))
                                                                {

                                                                    <div class="product-miniature js-product-miniature item-one first-item">
                                                                        <div class="thumbnail-container">
                                                                            <a href="product-detail.html">
                                                                                <img class="img-fluid image-cover" src="@item.BookImage" alt="img">
                                                                                <img class="img-fluid image-secondary" src="@item.BookImage" alt="img">
                                                                            </a>
                                                                            <div class="highlighted-informations">
                                                                                <div class="variant-links" style=" background: black; padding: 5px; border-radius: 7px; color: white;">
                                                                                    @item.CategoryName
                                                                                    @*<a href="#" class="color beige" title="Beige"></a>
                                                                                        <a href="#" class="color orange" title="Orange"></a>
                                                                                        <a href="#" class="color green" title="Green"></a>*@
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-description">
                                                                            <div class="product-groups">
                                                                                <div class="product-title">
                                                                                    <a href="product-detail.html">@item.BookName</a>
                                                                                </div>
                                                                                <div class="product-group-price">
                                                                                    <div class="product-price-and-shipping">
                                                                                        <span class="price" style="font-size: 15px; color: red; background: #ffe6e6; border-radius: 5px; border: 1px solid; ">@item.BookPrice TL</span>
                                                                                        @*<del class="regular-price">£28.68</del>*@
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-buttons d-flex justify-content-center">
                                                                                <form action="#" method="post" class="formAddToCart">

                                                                                    <input type="hidden" name="id_product" value="1">
                                                                                    <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                    </a>
                                                                                </form>
                                                                                <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                                                </a>
                                                                                <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }

                                                                @foreach (var item in Model.OrderByDescending(x => x.BookSale).Skip(3).Take(1))
                                                                {

                                                                    <div class="product-miniature js-product-miniature item-one first-item">
                                                                        <div class="thumbnail-container">
                                                                            <a href="product-detail.html">
                                                                                <img class="img-fluid image-cover" src="@item.BookImage" alt="img">
                                                                                <img class="img-fluid image-secondary" src="@item.BookImage" alt="img">
                                                                            </a>
                                                                            <div class="highlighted-informations">
                                                                                <div class="variant-links" style=" background: black; padding: 5px; border-radius: 7px; color: white;">
                                                                                    @item.CategoryName
                                                                                    @*<a href="#" class="color beige" title="Beige"></a>
                                                                                        <a href="#" class="color orange" title="Orange"></a>
                                                                                        <a href="#" class="color green" title="Green"></a>*@
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-description">
                                                                            <div class="product-groups">
                                                                                <div class="product-title">
                                                                                    <a href="product-detail.html">@item.BookName</a>
                                                                                </div>
                                                                                <div class="product-group-price">
                                                                                    <div class="product-price-and-shipping">
                                                                                        <span class="price" style="font-size: 15px; color: red; background: #ffe6e6; border-radius: 5px; border: 1px solid; ">@item.BookPrice TL</span>
                                                                                        @*<del class="regular-price">£28.68</del>*@
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-buttons d-flex justify-content-center">
                                                                                <form action="#" method="post" class="formAddToCart">

                                                                                    <input type="hidden" name="id_product" value="1">
                                                                                    <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                    </a>
                                                                                </form>
                                                                                <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                                                </a>
                                                                                <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }


                                                            </div>
                                                            <div class="item text-center">
                                                                @foreach (var item in Model.OrderByDescending(x => x.BookSale).Skip(4).Take(1))
                                                                {

                                                                    <div class="product-miniature js-product-miniature item-one first-item">
                                                                        <div class="thumbnail-container">
                                                                            <a href="product-detail.html">
                                                                                <img class="img-fluid image-cover" src="@item.BookImage" alt="img">
                                                                                <img class="img-fluid image-secondary" src="@item.BookImage" alt="img">
                                                                            </a>
                                                                            <div class="highlighted-informations">
                                                                                <div class="variant-links" style=" background: black; padding: 5px; border-radius: 7px; color: white;">
                                                                                    @item.CategoryName
                                                                                    @*<a href="#" class="color beige" title="Beige"></a>
                                                                                        <a href="#" class="color orange" title="Orange"></a>
                                                                                        <a href="#" class="color green" title="Green"></a>*@
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-description">
                                                                            <div class="product-groups">
                                                                                <div class="product-title">
                                                                                    <a href="product-detail.html">@item.BookName</a>
                                                                                </div>
                                                                                <div class="product-group-price">
                                                                                    <div class="product-price-and-shipping">
                                                                                        <span class="price" style="font-size: 15px; color: red; background: #ffe6e6; border-radius: 5px; border: 1px solid; ">@item.BookPrice TL</span>
                                                                                        @*<del class="regular-price">£28.68</del>*@
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-buttons d-flex justify-content-center">
                                                                                <form action="#" method="post" class="formAddToCart">

                                                                                    <input type="hidden" name="id_product" value="1">
                                                                                    <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                    </a>
                                                                                </form>
                                                                                <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                                                </a>
                                                                                <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }


                                                                @foreach (var item in Model.OrderByDescending(x => x.BookSale).Skip(5).Take(1))
                                                                {

                                                                    <div class="product-miniature js-product-miniature item-one first-item">
                                                                        <div class="thumbnail-container">
                                                                            <a href="product-detail.html">
                                                                                <img class="img-fluid image-cover" src="@item.BookImage" alt="img">
                                                                                <img class="img-fluid image-secondary" src="@item.BookImage" alt="img">
                                                                            </a>
                                                                            <div class="highlighted-informations">
                                                                                <div class="variant-links" style=" background: black; padding: 5px; border-radius: 7px; color: white;">
                                                                                    @item.CategoryName
                                                                                    @*<a href="#" class="color beige" title="Beige"></a>
                                                                                        <a href="#" class="color orange" title="Orange"></a>
                                                                                        <a href="#" class="color green" title="Green"></a>*@
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-description">
                                                                            <div class="product-groups">
                                                                                <div class="product-title">
                                                                                    <a href="product-detail.html">@item.BookName</a>
                                                                                </div>
                                                                                <div class="product-group-price">
                                                                                    <div class="product-price-and-shipping">
                                                                                        <span class="price" style="font-size: 15px; color: red; background: #ffe6e6; border-radius: 5px; border: 1px solid; ">@item.BookPrice TL</span>
                                                                                        @*<del class="regular-price">£28.68</del>*@
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="product-buttons d-flex justify-content-center">
                                                                                <form action="#" method="post" class="formAddToCart">

                                                                                    <input type="hidden" name="id_product" value="1">
                                                                                    <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                                    </a>
                                                                                </form>
                                                                                <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                                                </a>
                                                                                <a href="#" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- product kitchen -->
                    <!-- banner -->
                    <!-- testimonial -->

                </section>
            </div>

            <!-- SHOP THE LOOK -->
            <!-- recent posts -->

        </div>
    </div>
</div>


<script>
    // Rastgele yazıları içeren bir dizi

    const kitapSozleri = [
        {
            metin: "Kitaplar insanın kanatlarıdır, onlarla uçarsınız.",
            yazar: "Helen Hayes"
        },
        {
            metin: "Bir kitap, açıldığında dünya da açılır.",
            yazar: "Çin Atasözü"
        },
        {
            metin: "Bir dostunuz varsa bir kitabınız olduğunu söylemeye gerek yok.",
            yazar: "Virginia Woolf"
        },
        {
            metin: "Kelimelerin olduğu her yerde, yeni bir dünya vardır.",
            yazar: "Horace"
        },
        {
            metin: "Bir kitap okuduktan sonra, onunla yaşamak istiyorsanız, başka birine verin.",
            yazar: "William Styron"
        },
        {
            metin: "Kitaplar insanları yaşamlarının en güzel anlarında yalnız bırakmaz.",
            yazar: "Jane Smiley"
        },
        {
            metin: "Kendinizi bir kitaba adayın, size sonsuz bir arkadaşlık sunar.",
            yazar: "Washington Irving"
        },
        {
            metin: "Kitaplar insanın ruhunun aynasıdır.",
            yazar: "Cicero"
        },
        {
            metin: "Kitaplar dostlarımızdır, bize bilgi ve ilham verirler.",
            yazar: "John Locke"
        },
        {
            metin: "Bir kitap, bir yolculuktur. Gidilen yer bilgidir, görülen manzaradır.",
            yazar: "Victor Hugo"
        }
    ];

    // Sayfa yüklendiğinde veya yenilendiğinde bir işlev çalıştır
    function showRandomText() {
        // Diziden rasgele bir öğe seçmek için rastgele bir indeks hesaplayın
        var randomIndex = Math.floor(Math.random() * kitapSozleri.length);
        //var randomIndex = Math.floor(Math.random() * texts.length);

        // Seçilen yazıyı ekrana yazdırın
        var randomTextElement = document.getElementById("randomText");
        var randomTextElementYazar = document.getElementById("randomAuthor");
        randomTextElement.textContent = kitapSozleri[randomIndex].metin;
        randomTextElementYazar.textContent = kitapSozleri[randomIndex].yazar;
    }

    // İlk sayfa yüklendiğinde rastgele yazıyı göstermek için işlevi çağırın
    showRandomText();

    // Sayfa yenilendiğinde rastgele yazıyı göstermek için "onload" ve "onbeforeunload" olaylarını kullanın

    // yuklenirken calisir
    window.onload = showRandomText;
        // yuklenmeden once calisir
        //window.onbeforeunload = showRandomText;
</script>