
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Kitap Satış Admin Panel | Anasayfa</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->

    <link href="~/Areas/Content/Css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Areas/Content/Css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Areas/Content/Css/export.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/flipclock.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Areas/Content/Css/circles.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Areas/Content/Css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Areas/Content/Css/style.css" rel="stylesheet" type="text/css" media="all" />


    <!-- font-awesome-icons -->
    <link href="~/Content/Css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <style>
        li.second.full-screen {
            display: none;
        }
     
        .img_wthee_post {
            padding: 0.3em 3em 4em 3em;
        }
    </style>
</head>
<body>

    <!-- banner -->
    <div class="wthree_agile_admin_info">
        <!-- /w3_agileits_top_nav-->
        <!-- /nav-->

        <div class="w3_agileits_top_nav">
            <ul id="gn-menu" class="gn-menu-main">
                <!-- /nav_agile_w3l -->
                @Html.Partial("_Menu")
                <!-- //nav_agile_w3l -->
                <li class="second logo"><h1><a href="~/Admin/Anasayfa/Index"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Kitap Satis Admin Panel</a></h1></li>
                @Html.Partial("_AdminResim")
                @Html.Partial("_Gorevler2")
                @Html.Partial("_Bildirim")
                @*@Html.Partial("_Mesajlasma")*@

                @Html.Partial("_Arama")


                <li class="second full-screen">
                    <section class="full-top">
                        <button id="toggle"><i class="fa fa-arrows-alt" aria-hidden="true"></i></button>
                    </section>
                </li>

            </ul>
            <!-- //nav -->

        </div>
        <div class="clearfix"></div>
        <!-- /inner_content-->
        <div class="inner_content">

            <!-- /inner_content_w3_agile_info-->
            <div class="inner_content_w3_agile_info">




                @*Admin Panel Bilgisi*@
                <!-- /agile_top_w3_grids-->
                <div class="agile_top_w3_grids">
                    <ul class="ca-menu">
                        <li>
                            <a href="/Admin/Kategori">

                                <i class="fa fa-folder-open" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main">@ViewBag.CategoryCount</h4>
                                    <h3 class="ca-sub">Toplam Kategori</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/Yayinevi">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main one">@ViewBag.PublisherCount</h4>
                                    <h3 class="ca-sub one">Toplam YayınEvi</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/Yazar">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main two">@ViewBag.AuthorCount</h4>
                                    <h3 class="ca-sub two">Toplam Yazar</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/kitapcevirmen">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main three">@ViewBag.BookTranslatorCount</h4>
                                    <h3 class="ca-sub three">Toplam Çevirmen</h3>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/kitap">
                                <i class="fa fa-book" aria-hidden="true"></i>
                                <div class="ca-content">
                                    <h4 class="ca-main four">@ViewBag.BookCount</h4>
                                    <h3 class="ca-sub four">Toplam Kitap</h3>
                                </div>
                            </a>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <!--TODO-->
                @Html.Action("TodoPartial", "Home")
                <!-- //agile_top_w3_grids-->
                <!-- /agile_top_w3_post_sections-->
                <div class="agile_top_w3_post_sections">
                    <div class="col-md-6 agile_top_w3_post agile_info_shadow">
                        <div class="img_wthee_post">
                            <h3 class="w3_inner_tittle">Toplam Kitap Satış Raporu</h3>
                            <div class="stats-wrap">
                                <div class="count_info"><h4 class="count">65,800,587 </h4><span class="year">Toplam Kullanıcı</span></div>
                                <div class="year-info"><p class="text-no">20 </p><span class="year">This Year</span></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="stats-wrap">
                                <div class="count_info"><h4 class="count">2,690 </h4><span class="year">Toplam Satılan Kitap</span></div>
                                <div class="year-info"><p class="text-no">40 </p><span class="year">This Month</span></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="stats-wrap">
                                <div class="count_info"><h4 class="count">24,660 </h4><span class="year">Total Companies</span></div>
                                <div class="year-info"><p class="text-no">30 </p><span class="year">This Week</span></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="stats-wrap">
                                <div class="count_info"><h4 class="count">1,204</h4><span class="year">Total Companies</span></div>
                                <div class="year-info"><p class="text-no">10 </p><span class="year">This Day</span></div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6 agile_top_w3_post_info agile_info_shadow">
                        <div class="weather_w3_inner_info">
                            @*<h3 class="w3_inner_tittle"> Flip Clock</h3>
                                <div class="main-example">
                                    <div class="clock"></div>
                                    <div class="message"></div>

                                </div>*@
                            <ul>
                                <div class="over_lay_agile">
                                    <h3 class="w3_inner_tittle">Hava Durumu</h3>
                                    <div id="ww_4e73cbf8f9bb8" v='1.3' loc='auto' a='{"t":"horizontal","lang":"tr","sl_lpl":1,"ids":[],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'>
                                        Daha fazla hava durumu tahmini: <a href="https://oneweather.org/tr/istanbul/30_days/" id="ww_4e73cbf8f9bb8_u" target="_blank">İstanbul 30 günlük hava durumu</a>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <!-- //agile_top_w3_post_sections-->
                <!-- /w3ls_agile_circle_progress-->
 
                
                <!-- //weather_w3_agile_info-->
                <!-- /social_media-->
                @Html.Action("_SocialMedia", "Home")
                <!-- //social_media-->
            </div>
            <!-- //inner_content_w3_agile_info-->

        </div>
        <!-- //inner_content-->
    </div>
    <!-- banner -->
    <!-- js -->

    <script type="text/javascript" src="~/Areas/Content/JS/jquery-2.1.4.min.js"></script>
    <script async src="https://app2.weatherwidget.org/js/?id=ww_4e73cbf8f9bb8"></script>





    <script src="~/Areas/Content/JS/classie.js"></script>
    <script src="~/Areas/Content/JS/gnmenu.js"></script>
    <script>
        new gnMenu(document.getElementById('gn-menu'));
    </script>

    <!-- //js -->
    <script src="~/Scripts/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>


    <script src="~/Areas/Content/JS/jquery.nicescroll.js"></script>
    <script src="~/Areas/Content/JS/scripts.js"></script>

    <script type="text/javascript" src="~/Areas/Content/JS/bootstrap-3.1.1.min.js"></script>


</body>
</html>
