@using Entities.Concrete
@model Book
@{
    ViewBag.Title = "BookForm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var result = (BookStore.Areas.Admin.ViewModel.MessageViewModel)TempData["message"];

}
<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
    <div class="w3l_agileits_breadcrumbs_inner">
        <ul>
            <li><a href="~/Admin/Kategori">Anasayfa</a><span>«</span></li>

            <li>Kitap</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->



<div id="mesaj"></div>
<div class="inner_content_w3_agile_info two_in">
    <h2 class="w3_inner_tittle">Ekle &amp; Duzenle</h2>
    <!-- tables -->

    <div class="agile-tables">
        <b style="font-size:18px">
            @if (TempData["message"] != null)
            {
                if (result.Status == false)
                {

                    <div class="alert alert-danger">
                        @result.Message <b style="font-size:20px"><a href="@result.Url">@result.LinkText</a></b>
                    </div>
                }

            }
        </b>
        <div class="w3l-table-info agile_info_shadow">
            @using (Html.BeginForm("Save", "Book", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">

                    @Html.LabelFor(model => model.BookImage)
                    <div style="display:flex" class="col-2">
                        @Html.EditorFor(x => x.BookImage, new { htmlAttributes = new { @class = "form-control", type = "file", style = "height:auto", accept = "image/*", title = "Resim Yukle", onchange = "prewIMG(event)" } })
                        <img src="@Model.BookImage" height="52" width="52" style="position: absolute; left: calc(100% - 9.8em); " id="imgPrew" alt="Resim Yukle" />
                    </div>
                    <br />

                    @Html.LabelFor(m => m.BookName)
                    @Html.TextBoxFor(m => m.BookName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.BookName)
                    <br />

                    @Html.LabelFor(m => m.BookDescription)
                    @Html.TextAreaFor(m => m.BookDescription, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.BookDescription)
                    <br />

                    @if (ViewBag.BookCategory != null)
                    {
                        @Html.LabelFor(m => m.BookCategoryID)
                        @Html.DropDownListFor(m => m.BookCategoryID, new SelectList(ViewBag.BookCategory), "-- Kategori Seçiniz --", new { @class = "form-control select-add-placeholder", @style = "height:auto", })
                        @Html.ValidationMessageFor(x => x.BookCategoryID)
                    }
                    else
                    {
                        @Html.LabelFor(m => m.BookCategoryID)
                        @Html.DropDownListFor(m => m.BookCategoryID, new SelectList(""), "-- Kategori Bulunumadı --", new { @class = "form-control select-add-placeholder", @style = "height:auto", })
                        @Html.ValidationMessageFor(x => x.BookCategoryID)
                    }
                    <br />

                    @if (ViewBag.BookPublisher != null)
                    {
                        @Html.LabelFor(m => m.BookPublisherID)
                        @Html.DropDownListFor(m => m.BookPublisherID, new SelectList(ViewBag.BookPublisher as SelectList, "-- YayınEvi Seçiniz --", new { @class = "form-control select-add-placeholder", @style = "height:auto", })
                        @Html.ValidationMessageFor(x => x.BookPublisherID)
                    }
                    else
                    {
                        @Html.LabelFor(m => m.BookPublisherID)
                        @Html.DropDownListFor(m => m.BookPublisherID, new SelectList(""), "-- YayınEvi Bulunamadı --", new { @class = "form-control select-add-placeholder", @style = "height:auto", })
                        @Html.ValidationMessageFor(x => x.BookPublisherID)
                    }

                    <br />

                    @if (ViewBag.BookAuthor != null)
                    {
                        @Html.LabelFor(m => m.BookAuthorID)
                        @Html.DropDownListFor(m => m.BookAuthorID, ViewBag.BookAuthor as SelectList, "-- Yazar Seçiniz --", new { @class = "form-control select-add-placeholder", @style = "height:auto", })
                        @Html.ValidationMessageFor(x => x.BookAuthorID)
                    }
                    else
                    {
                        @Html.LabelFor(m => m.BookAuthorID)
                        @Html.DropDownListFor(m => m.BookAuthorID, new SelectList(""), "-- Yazar Bulunamadı --", new { @class = "form-control select-add-placeholder", @style = "height:auto", })
                        @Html.ValidationMessageFor(x => x.BookAuthorID)
                    }

                    <br />

                    @if (ViewBag.BookTranslator != null)
                    {
                        @Html.LabelFor(m => m.BookTranslatorID)
                        @Html.DropDownListFor(m => m.BookTranslatorID, ViewBag.BookTranslator as SelectList, "-- Çevirmen Seçiniz --", new { @class = "form-control select-add-placeholder", @style = "height:auto", })
                        @Html.ValidationMessageFor(x => x.BookTranslatorID)
                    }
                    else
                    {
                        @Html.LabelFor(m => m.BookTranslatorID)
                        @Html.DropDownListFor(m => m.BookTranslatorID, new SelectList(""), "-- Çevirmen Bulunamadı --", new { @class = "form-control select-add-placeholder", @style = "height:auto", })
                        @Html.ValidationMessageFor(x => x.BookTranslatorID)
                    }

                    @Html.LabelFor(m => m.BookPage)
                    @Html.TextBoxFor(m => m.BookPage, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.BookPage)
                    <br />

                    @Html.LabelFor(m => m.BookPrice)
                    @Html.TextBoxFor(m => m.BookPrice, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.BookPrice)
                    <br />

                    @Html.LabelFor(m => m.BookStock)
                    @Html.TextBoxFor(m => m.BookStock, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.BookStock)
                    <br />


                </div>



                @Html.HiddenFor(x => x.ID)
                <button type="submit" class="btn btn-success">Kaydet</button>

            }

        </div>

    </div>
</div>

@*bu iki kod gidip layouta yazilacak*@
@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script>

    // Resim Önizleme
    var prewIMG = function (event) {
        var result = document.getElementById("imgPrew");
        result.src = URL.createObjectURL(event.target.files[0]);
    };


    // Ülke Seçildiğinde Şehirleri Getir

    $(document).ready(function () {
        $("#AuthorCountryID").change(function () {
            var countryId = $(this).val();
            $.ajax({
                url: "/Admin/Author/GetCity?id=" + countryId,
                type: "POST",
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#AuthorCityID").empty();
                    $("#AuthorCityID").append(response);

                }
            });
        });
    });

</script>
