@using DataAccess.Concrete.EntityFramework
@using Business.Concrete
@{
    CategoryManager categoryManager = new CategoryManager(new EfCategoryDal());
    var categories = categoryManager.GetAll();
    AuthorManager authorManager = new AuthorManager(new EfAuthorDal());
    var authors = authorManager.GetAll();
    BookTranslatorManager bookTranslatorManager = new BookTranslatorManager(new EfBookTranslatorDal());
    var bookTranslators = bookTranslatorManager.GetAll();
    PublisherManager publisherManager = new PublisherManager(new EfPublisherDal());
    var publishers = publisherManager.GetAll();
}
<div class="menu-banner d-xs-none">
    <div class="tiva-verticalmenu block">
        <div class="box-content">
            <div class="verticalmenu" role="navigation">
                <ul class="menu level1">
                    <li class="item parent">
                        <a href="#" class="hasicon" title="Kategoriler">
                            <img src="https://www.freeiconspng.com/thumbs/bookmark-icon/book-bookmark-icon-5.png" alt="img">Kategoriler
                        </a>
                        <div class="dropdown-menu menu-1">
                            <div class="menu-items">
                                <div class="item">
                                    <div class="menu-content">
                                        <div class="tags d-flex d-xs-flex-inherit">
                                            <ul class="list-inline">
                                                @foreach (var item in categories)
                                                {
                                                    <li class="list-inline">
                                                        <a href="@Url.Action("Index", "Book", new { categoryId = item.ID })" title="@item.CategoryName">@item.CategoryName</a>
                                                    </li>
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="item parent group">
                        <a href="#" class="hasicon" title="FI">
                            <img src="https://e7.pngegg.com/pngimages/130/282/png-clipart-quill-inkwell-writer-ink-monochrome-thumbnail.png" alt="img">Yazarlar &amp; Çevirmenler
                        </a>
                        <div class="dropdown-menu menu-2">
                            <div class="menu-items">
                                <div class="item">
                                    <div class="menu-content">
                                        <div class="tags">
                                            <div class="title float-left">
                                                <b>Yazarlar</b>
                                            </div>
                                            <ul class="list-inline">
                                                @foreach (var item in authors)
                                                {
                                                    <li class="list-inline-item">
                                                        <a href="@Url.Action("Index", "Book", new { authorId = item.ID })">@item.AuthorFullName</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="tags">
                                            <div class="title float-left">
                                                <b>Çevirmenler</b>
                                            </div>
                                            <ul class="list-inline">
                                                @foreach (var item in bookTranslators)
                                                {
                                                    <li class="list-inline-item">
                                                        <a href="@Url.Action("Index", "Book", new { bookTranslatorId = item.ID })">@item.TranslatorFullName</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item group-category-img parent group">
                        <a href="#" class="hasicon" title="TABLE LAMP">
                            <img src="https://e7.pngegg.com/pngimages/630/467/png-clipart-computer-icons-book-publishing-book-angle-rectangle.png" alt="img"> Yayın Evleri
                        </a>
                        <div class="dropdown-menu menu-3">
                            <div class="menu-items">
                                <div class="item">
                                    <div class="menu-content">
                                        <div class="row group-category">
                                            <div class="mt-20">
                                                <div class="d-flex">
                                                    <div class="col">
                                                        <ul>
                                                            @foreach (var item in publishers)
                                                            {
                                                                <li>
                                                                    <a href="@Url.Action("Index", "Book", new { publisherId = item.ID })">@item.PublisherName</a>
                                                                </li>
                                                            }


                                                        </ul>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="ml-15">
                                                <a href="#">
                                                    <img class="img-fluid" src="https://graphic-designer-richmond.co.uk/wp-content/uploads/2021/03/colourful_books_cropped.png" alt="img">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="cursor:pointer">
                <div class="d-flex justify-content-center align-items-center header-top-left pull-left btnov-lines-large ">
                    <div class="toggle-nav act">
                        <div class="btnov-lines-large">
                            <i class="zmdi zmdi-close"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>