<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<!--<![endif]-->
<html lang="en">


<!-- home509:49-->
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MAS - Kitap Satış Sitesi</title>

    <meta name="keywords" content="Kitap Satış">
    <meta name="description" content="MAS - En Uygun ve Hesaplı Kitap Satış Sitesi">
    <meta name="author" content="tivatheme">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/Content/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/Content/libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="~/Content/libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="~/Content/libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="~/Content/libs/owl-carousel/assets/owl.carousel.min.css">
    <link href="~/Content/css/CustomStyle.css" rel="stylesheet" />
    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/reponsive.css">
</head>

<body id="home5">
    <header>
        <!-- header left mobie -->
        <div class="header-mobile d-md-none">
            <div class="mobile hidden-md-up text-xs-center d-flex align-items-center justify-content-around">

                <!-- menu left -->
                <div id="mobile_mainmenu" class="item-mobile-top">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>

                <!-- logo -->
                <div class="mobile-logo">
                    <a href="/">
                        @*<img class="logo-mobile img-fluid" src="~/Content/img/home/logo-mobie.png" alt="Prestashop_Furnitica">*@
                        <div class="logo-mobile img-fluid" style="font-size: large; color: white; font-weight: bolder;">
                            MAS - Kitap Satış Sitesi                            
                        </div>
                    </a>
                </div>

                <!-- menu right -->
                <div class="mobile-menutop" data-target="#mobile-pagemenu">
                    <i class="zmdi zmdi-more"></i>
                </div>
            </div>

            <!-- search -->
            <div id="mobile_search" class="d-flex">
                <div id="mobile_search_content">
                    <form method="get" action="#">

                        <input type="text" name="s" value="" placeholder="Search">
                        <button type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="desktop_cart">
                    <div class="blockcart block-cart cart-preview tiva-toggle">
                        <div class="header-cart tiva-toggle-btn">
                            <span class="cart-products-count">1</span>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                        <div class="dropdown-content">
                            <div class="cart-content">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="product-image">
                                                <a href="product-detail.html">
                                                    <img src="~/Content/img/product/5.jpg" alt="Product">
                                                </a>
                                            </td>
                                            <td>
                                                <div class="product-name">
                                                    <a href="product-detail.html">Organic Strawberry Fruits</a>
                                                </div>
                                                <div>
                                                    2 x
                                                    <span class="product-price">£28.98</span>
                                                </div>
                                            </td>
                                            <td class="action">
                                                <a class="remove" href="#">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class="total">
                                            <td colspan="2">Total:</td>
                                            <td>£92.96</td>
                                        </tr>

                                        <tr>
                                            <td colspan="3" class="d-flex justify-content-center">
                                                <div class="cart-button">
                                                    <a href="product-cart.html" title="View Cart">View Cart</a>
                                                    <a href="product-checkout.html" title="Checkout">Checkout</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- header desktop -->
        <div class="header-top d-xs-none">
            <div class="margin-0 row">

                <!-- menu -->
                <div class="d-flex icon-menu align-items-center justify-content-center" id="icon-menu">
                    <a href="#">
                        <i class="fa fa-bars" aria-hidden="true" id="icon-menu"></i>
                    </a>
                </div>


                <!-- logo -->
                <div class="d-flex align-items-center  flex-2">
                    <div id="logo">
                        <a href="/" style="font-weight: bold; font-size: xx-large;">
                            @*<img src="#" alt="logo" class="img-fluid">*@
                            <div class="containerim">
                                <p>MAS-</p>
                                <section class="animationum">
                                    <div class="ilk"><div>En Uygun</div></div>
                                    <div class="ikinci"><div>Kitap Satış</div></div>
                                    <div class="ucuncu"><div>Sitesi</div></div>
                                </section>
                            </div>
                        </a>
                        @*<span style="display: block; color: purple;">En Uygun Kitap Satış Sitesi</span>*@
                    </div>
                </div>

                <!--Main Menu-->
                @Html.Partial("_MenuPartial")
                
                <!-- search and acount -->
                <div class="d-flex align-items-center justify-content-end " id="search_widget">
                    <div class="search d-flex align-items-center justify-content-center search-header-top">
                        <i class="fa fa-search search"></i>
                    </div>

                    <!--Login-->
                    @Html.Partial("_LoginPartial")
                    

                    <!--Satin Alma-->
                    @Html.Partial("_CartPartial")
                    
                </div>
            </div>
        </div>
    </header>

    <!-- main content -->
    @RenderBody()
    <!-- footer -->
    <footer class="footer-one">
        <div class="inner-footer">
            <!-- delivery form -->

            <!-- Policy Home-->
            @Html.Partial("_PolicyHome")
            
            <!-- Footer Top -->
            @Html.Partial("_FooterTop")
            
        </div>

        @Html.Partial("_FooterBottom")
        
    </footer>
    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>

    <!-- menu mobie left -->
    @Html.Partial("_MenuLeft")
    

    <!-- menu mobie right -->
    @Html.Partial("_MenuRight")
    

    <!-- Page Loader -->
   @Html.Partial("_PageLoader")

    <!-- search -->
    @Html.Partial("_Search")
    <!-- Vendor JS -->
    <script src="~/Content/libs/jquery/jquery.min.js"></script>
    <script src="~/Content/libs/popper/popper.min.js"></script>
    <script src="~/Content/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="~/Content/libs/owl-carousel/owl.carousel.min.js"></script>

    <!-- Template JS -->
    <script src="~/Content/js/theme.js"></script>
</body>


<!-- home510:09-->
</html>