@using Business.Concrete
@using DataAccess.Concrete.EntityFramework
@{
    CategoryManager categoryManager = new CategoryManager(new EfCategoryDal());
    var categories = categoryManager.GetAll();

    AuthorManager authorManager = new AuthorManager(new EfAuthorDal());
    var authors = authorManager.GetAll();

    BookTranslatorManager bookTranslatorManager = new BookTranslatorManager(new EfBookTranslatorDal());
    var bookTranslators = bookTranslatorManager.GetAll();

    PublisherManager publisherManager = new PublisherManager(new EfPublisherDal());
    var publishers = publisherManager.GetAll();

}
<div class="mobile-top-menu d-md-none">
    <button type="button" class="close" aria-label="Close">
        <i class="zmdi zmdi-close"></i>
    </button>
    <div class="tiva-verticalmenu block" data-count_showmore="17">
        <div class="box-content block-content">
            <div class="verticalmenu" role="navigation">
                <ul class="menu level1">
                    <li class="item  parent">
                        <a href="#" data-toggle="collapse" data-target="#SIDE-TABLE" class="hasicon" title="SIDE TABLE">
                            <i class="fa fa-duotone fa fa-list-ul fa-2x"></i> <span style=" margin-left: 1em; font-size: 12px;">Kategoriler</span>
                        </a>
                        <span class="arrow collapsed" data-toggle="collapse" data-target="#SIDE-TABLE" aria-expanded="false" role="status">
                            <i class="zmdi zmdi-minus"></i>
                            <i class="zmdi zmdi-plus"></i>
                        </span>
                        <div class="subCategory collapse" id="SIDE-TABLE" aria-expanded="true" role="status">
                            <div class="menu-items">
                                <ul>
                                    @foreach (var category in categories)
                                    {
                                        <li class="item">
                                            <a href="@Url.Action("Index", "Book", new { categoryId = category.ID })" title="@category.CategoryName">@category.CategoryName</a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="item  parent group">
                        <a href="#" data-toggle="collapse" data-target="#fi" class="hasicon" title="FI">
                            <i class="fa fa-pencil fa-2x"></i> <span style=" margin-left: 1em; font-size: 12px;">Yazarlar &amp; Çevirmenler</span>
                        </a>
                        <span class="arrow collapsed" data-toggle="collapse" data-target="#fi" aria-expanded="false" role="status">
                            <i class="zmdi zmdi-minus"></i>
                            <i class="zmdi zmdi-plus"></i>
                        </span>
                        <div class="subCategory collapse" id="fi" aria-expanded="true" role="status">
                            <div class="item">
                                <div class="menu-content">
                                    <div class="tags d-flex d-xs-flex-inherit">
                                        <div class="title">
                                            <b>Yazarlar</b>
                                        </div>
                                        <ul class="list-inline">
                                            @foreach (var author in authors)
                                            {
                                                <li class="list-inline-item">
                                                    <a href="@Url.Action("Index", "Book", new { authorId = author.ID })">
                                                        @author.AuthorFullName
                                                    </a>
                                                </li>
                                            }


                                        </ul>
                                    </div>
                                    <div class="tags d-flex d-xs-flex-inherit">
                                        <div class="title">
                                            <b>Çevirmenler</b>
                                        </div>
                                        <ul class="list-inline">
                                            @foreach (var bookTranslator in bookTranslators)
                                            {
                                                <li class="list-inline-item">
                                                    <a href="@Url.Action("Index", "Book", new { bookTranslatorId = bookTranslator.ID })">
                                                        @bookTranslator.TranslatorFullName
                                                    </a>
                                                </li>
                                            }


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="item group-category-img parent group">
                        <a href="#" data-toggle="collapse" data-target="#table-lamp" class="hasicon" title="TABLE LAMP">
                            <i class="fa fa-hourglass-start fa-2x"></i> <span style=" margin-left: 1em; font-size: 12px;">Yayın Evleri</span>
                        </a>
                        <span class="arrow collapsed" data-toggle="collapse" data-target="#table-lamp" aria-expanded="false" role="status">
                            <i class="zmdi zmdi-minus"></i>
                            <i class="zmdi zmdi-plus"></i>
                        </span>
                        <div class="subCategory collapse" id="table-lamp" aria-expanded="true" role="status">
                            <div class="item">
                                <div class="menu-content">
                                    <div class="col-xs-12">
                                        <ul>
                                            @foreach (var publisher in publishers)
                                            {
                                                <li>
                                                    <a href="@Url.Action("Index", "Book", new { publisherId = publisher.ID })">@publisher.PublisherName</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>