@using Business.Concrete
@using DataAccess.Concrete.EntityFramework
@{
    CategoryManager categoryManager = new CategoryManager(new EfCategoryDal());
    var categories = categoryManager.GetAll();

    AuthorManager authorManager = new AuthorManager(new EfAuthorDal());
    var authors = authorManager.GetAll();

    BookTranslatorManager bookTranslatorManager = new BookTranslatorManager(new EfBookTranslatorDal());
    var bookTranslators = bookTranslatorManager.GetAll();

PublisherManager publisherManager = new PublisherManager(new EfPublisherDal());
var publishers = publisherManager.GetAll();

}
<div class="mobile-top-menu d-md-none">
    <button type="button" class="close" aria-label="Close">
        <i class="zmdi zmdi-close"></i>
    </button>
    <div class="tiva-verticalmenu block" data-count_showmore="17">
        <div class="box-content block-content">
            <div class="verticalmenu" role="navigation">
                <ul class="menu level1">
                    <li class="item  parent">
                        <div class="hasicon" title="Kategoriler">
                            <i class="fa fa-duotone fa fa-list-ul"></i>  Kategoriler
                            @*<img src="~/Content/img/home/table-lamp.png" alt="img">Kategoriler*@
                        </div>
                        <span class="arrow collapsed" data-toggle="collapse" data-target="#SIDE-TABLE" aria-expanded="false" role="status">
                            <i class="zmdi zmdi-minus"></i>
                            <i class="zmdi zmdi-plus"></i>
                        </span>
                        <div class="subCategory collapse" id="SIDE-TABLE" aria-expanded="true" role="status">
                            <ul>
                                @foreach (var item in categories)
                                {
                                    <li class="item">
                                        <a href="@Url.Action("Index", "Book", new { categoryId = item.ID })" title="@item.CategoryName">@item.CategoryName</a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </li>
                    <li class="item  parent group">
                        <div class="hasicon" title="FI">
                            <i class="fa fa-pencil"></i> Yazarlar & Çevirmenler
                        </div>
                        <span class="arrow collapsed" data-toggle="collapse" data-target="#fi" aria-expanded="false" role="status">
                            <i class="zmdi zmdi-minus"></i>
                            <i class="zmdi zmdi-plus"></i>
                        </span>
                        <div class="subCategory collapse" id="fi" aria-expanded="true" role="status">
                            <div class="item">
                                <div class="menu-content">
                                    <div class="tags d-flex d-xs-flex-inherit">
                                        <div class="title">
                                            <b>Yazarlar</b>
                                        </div>
                                        <ul class="list-inline">

                                            @foreach (var item in authors)
                                            {
                                                <li class="list-inline-item">
                                                    <a href="@Url.Action("Index", "Book", new { authorId = item.ID })">@item.AuthorFullName</a>
                                                </li>
                                            }


                                        </ul>
                                    </div>
                                    <div class="tags d-flex d-xs-flex-inherit">
                                        <div class="title">
                                            <b>Çevirmenler</b>
                                        </div>
                                        <ul class="list-inline">

                                            @foreach (var item in bookTranslators)
                                            {
                                                <li class="list-inline-item">
                                                    <a href="@Url.Action("Index", "Book", new { bookTranslatorId = item.ID })">@item.TranslatorFullName</a>
                                                </li>
                                            }



                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="item  parent group">
                        <div class="hasicon" title="FI2">
                            <i class="fa fa-hourglass-start"></i> Yayın Evleri
                        </div>
                        <span class="arrow collapsed" data-toggle="collapse" data-target="#fi2" aria-expanded="false" role="status">
                            <i class="zmdi zmdi-minus"></i>
                            <i class="zmdi zmdi-plus"></i>
                        </span>
                        <div class="subCategory collapse" id="fi2" aria-expanded="true" role="status">
                            <div class="item">
                                <div class="menu-content">
                                    <div class="tags d-flex d-xs-flex-inherit">
                                        @*<div class="title">
                                            <b>Yazarlar</b>
                                        </div>*@
                                        <ul class="list-inline">
                                            @foreach (var item in publishers)
                                            {
                                                <li class="list-inline-item">
                                                    <a href="@Url.Action("Index", "Book", new { publisherId = item.ID })">@item.PublisherName</a>
                                                </li>
                                            }                                     
                                        </ul>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>