@using BookStore.Areas.Admin.ViewModel
@model List<EmployeeViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var result = (BookStore.Areas.Admin.ViewModel.MessageViewModel)TempData["message"];
}


<link href="~/Areas/Content/Css/CustomCard.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/Content/css/table-style.css" />
<link rel="stylesheet" type="text/css" href="~/Content/css/basictable.css" />
<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
    <div class="w3l_agileits_breadcrumbs_inner">
        <ul>
            <li><a href="~/Admin/Kategori">Anasayfa</a><span>«</span></li>

            <li>Personeller</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs -->

<div class="inner_content_w3_agile_info two_in">
    <h2 class="w3_inner_tittle">Personeller</h2>
    <!-- tables -->

    <div class="agile-tables">
        <b style="font-size:18px">
            @if (TempData["message"] != null)
            {
                if (result.Status)
                {

                    <div class="alert alert-success">
                        <b> @result.Message </b>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        <b>  @result.Message</b>
                    </div>
                }
            }
        </b>
        <div class="w3l-table-info agile_info_shadow">
            <h3 class="w3_inner_tittle two">
                <a class="btn btn-success" href="/Admin/Personel/YeniPersonel">Yeni Personel Ekle</a>
            </h3>


            <div class="container">
                <div class="row">
                    @foreach (var employee in Model)
                    {
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="our-team">
                                <div class="picture">
                                    <img class="img-fluid" src="@employee.EmployeeImage" style="height:130px; width:130px">
                                </div>
                                <div class="team-content">
                                    <h3 class="name">@employee.FullName</h3>
                                    <h4 class="title">@employee.DepartmentName</h4>
                                </div>
                                <ul class="social">

                                    <li>
                                      
                                    <a href="/Admin/Personel/Guncelle/@employee.ID" class="fa fa-edit" aria-hidden="true"> Guncelle</a>
                                    </li>

                                    <li>
                                        @if (User.IsInRole("Yönetici"))
                                        {<a href="/Admin/Personel/Sil/@employee.ID" class="fa fa-trash" aria-hidden="true"> Sil</a>}
                                    </li>

                                </ul>
                            </div>
                        </div>
                    }
                </div>
            </div>


        </div>

    </div>
</div>
<script type="text/javascript" src="~/Scripts/js/jquery.basictable.min.js"></script>






